*{
  box-sizing: border-box;
}
#root{
  width: 500px;
}

table, tr, td{
  border-collapse: collapse;
  padding: 10px 20px;
  width: 500px;
}
th{
  border-bottom: 1px solid black;
  padding-left: 40px;
}



.rating{
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 5px 70px;
  align-items: center;
}

.zagolovok{
  font-weight: 700;
  font-size: 20px;
}
.modal1{
  display: flex;
  justify-content: space-between;
}

.student, .date{
  color: #7F8190;
}

.check{
  display: flex;
  align-items: center;
}
.attend{
    margin: 0 5px;
}
.input{
  margin: 5px 0;
}
.form-control{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid gray;
}
.button-control{
  margin-left: 271px;
  border-radius: 10px;
  padding: 10px 6px;
  border: none;
  background-color: #8d4de8;
  color: white;
  font-size: 16px;
}
.button-control:hover{
background-color: #8142d3;
}


