*{
  box-sizing: border-box;
}

table, tr, td, th{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px 20px;
  margin: auto;
}

.rating{
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 10px 50px 15px;
  align-items: center;
}

.zagolovok{
  font-weight: 700;
  font-size: 20px;
}
.modal1{
  display: flex;
  justify-content: space-between;
}

.student, .date{
  color: #7F8190;
}

.check{
  display: flex;
}
.attend{
    margin: 0 5px;
}
.input{
  margin: 5px 0;
}
.form-control{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid gray;
}
.button-control{
  margin-left: 294px;
  padding: 15px 5px;
  border-radius: 10px;
  border: none;
  background-color: #8d4de8;
  color: white;
}
.contaiter{
  text-align: center;
}
